{% extends 'base.html' %}

{% block title %} {{ title }} - {{ block.super }} {% endblock %}

{%  block sidebar %}
<div class="col-md-3">
            <div class="list-group">
                <a href="" class="list-group-item list-group-item-action active" aria-current="true">
                    Categories
                </a>
                {% for item in categories %}
                <a href="{% url 'category' item.pk %}" class="list-group-item list-group-item-action">{{item.title}}</a>
                {% endfor %}
            </div>
        </div>
{% endblock %}

{%  block content %}
<div class="col-md-9">
            {% for item in news %}
            <div class="card mb-3" >
                {% if item.photo %}
                <img src="{{ item.photo.url }}" class="card-img-top" alt="...">
                {% else %}
                <p> no photo </p>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text"><a href="{% url 'category' item.category.pk %}"> {{item.category}}</a></p>
                    <p class="card-text">{{item.content|safe|linebreaks}}</p>
                    <div class="card-footer">
                        {{item.created_at|date:"Y-m-d H:i"}}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}

